<?xml version="1.0" encoding="utf-8"?>
<Content Key="257988d7-933c-41bd-b9f8-71e8c48cb762" Alias="about" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/about</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-11-03T14:28:26</CreateDate>
    <NodeName Default="about" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a610446-40eb-48b5-8461-2743400d15d8">aboutPage</Template>
  </Info>
  <Properties>
    <aboutMainImage>
      <Value><![CDATA[[
  {
    "key": "1ba364f8-2295-448f-8f12-4ca7a28bffbd",
    "mediaKey": "72124772-c8c6-45e5-ae3d-9ca97e071fea",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutMainImage>
    <para1>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </para1>
    <para2>
      <Value><![CDATA[xxx]]></Value>
    </para2>
    <para3>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </para3>
    <para4>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </para4>
    <para5>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </para5>
    <para6>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </para6>
    <para7>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </para7>
    <para8>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </para8>
    <para9>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </para9>
    <reviewImage1>
      <Value><![CDATA[[
  {
    "key": "5574ee6b-99c0-473b-b8fa-b4d87aa61bcb",
    "mediaKey": "b60c7fe7-a767-4ed4-95c2-1d7c25577133",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewImage1>
    <reviewsTxt1>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </reviewsTxt1>
    <reviewsTxt2>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </reviewsTxt2>
    <reviewsTxt3>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </reviewsTxt3>
    <reviewsTxt4>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </reviewsTxt4>
    <reviewsTxt5>
      <Value><![CDATA[Swebank]]></Value>
    </reviewsTxt5>
    <teamImage1>
      <Value><![CDATA[[
  {
    "key": "0c974c9a-d0af-4e91-b927-f769fb78a078",
    "mediaKey": "070c40b2-a786-4d03-aa4e-08c159bf008c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage1>
    <teamImage2>
      <Value><![CDATA[[
  {
    "key": "db27b76c-5c36-4309-ac86-1c76509d1f3d",
    "mediaKey": "108a92bc-105b-4539-8ad0-a2bc7c58546c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage2>
    <teamImage3>
      <Value><![CDATA[[
  {
    "key": "a40e4106-505c-425a-b309-8d7302db3bac",
    "mediaKey": "4b423f56-3b11-46ac-9ab8-b1c7171c48b1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage3>
    <teamImage4>
      <Value><![CDATA[[
  {
    "key": "a44fefda-8aeb-4776-8593-c9ffa147b0d5",
    "mediaKey": "72124772-c8c6-45e5-ae3d-9ca97e071fea",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage4>
    <teamImage5>
      <Value><![CDATA[[
  {
    "key": "7554c8cb-f06b-4656-bb2b-cdfb757664fa",
    "mediaKey": "4fc3fef1-3200-44f1-a3a3-ec56c32c7a50",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage5>
    <teamImage6>
      <Value><![CDATA[[
  {
    "key": "6f689b7c-6f4b-44f6-ad6c-cda0f022297a",
    "mediaKey": "b953396a-ddf6-4111-a5aa-6ccd8e4b59c7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage6>
    <teamImage7>
      <Value><![CDATA[[
  {
    "key": "16e9e3b6-ee70-4cae-a177-d98e4fffcc0a",
    "mediaKey": "8abf845d-4b93-4d7c-8496-54a50020e9e2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamImage7>
    <teamName1>
      <Value><![CDATA[Brandon Newton]]></Value>
    </teamName1>
    <teamName2>
      <Value><![CDATA[AJ Carter]]></Value>
    </teamName2>
    <teamName3>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </teamName3>
    <teamName4>
      <Value><![CDATA[Tina Fox]]></Value>
    </teamName4>
    <teamName5>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </teamName5>
    <teamName6>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </teamName6>
    <teamName7>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </teamName7>
    <teamRole1>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamRole1>
    <teamRole2>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamRole2>
    <teamRole3>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </teamRole3>
    <teamRole4>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </teamRole4>
    <teamRole5>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </teamRole5>
    <teamRole6>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </teamRole6>
    <teamRole7>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </teamRole7>
    <teamTxt1>
      <Value><![CDATA[Our expert]]></Value>
    </teamTxt1>
    <teamTxt2>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </teamTxt2>
  </Properties>
</Content>