<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f571272-7b87-4ee1-92f5-a3f88e39738d" Alias="annualReport" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/annualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>annualReport</ContentType>
    <CreateDate>2024-11-10T18:05:56</CreateDate>
    <NodeName Default="annualReport" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a0aae13-30a2-4c94-a582-561e792397eb">annualReport</Template>
  </Info>
  <Properties>
    <annualReportImage>
      <Value><![CDATA[[
  {
    "key": "6d2e8f0c-8531-424d-b4f9-aa2db4512d0c",
    "mediaKey": "96d37e05-73e9-4ea8-bf58-ff9d5a51384a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportImage>
    <annualReportImage2>
      <Value><![CDATA[[
  {
    "key": "ef862417-d9b8-4736-8478-b26394ec5344",
    "mediaKey": "aa73adfb-8555-41bd-93bd-ff56e4dd25b6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportImage2>
    <annualReportImage3>
      <Value><![CDATA[[
  {
    "key": "b05ed952-03ae-49ff-b153-4e654f91b6fb",
    "mediaKey": "e7130e3d-d9e6-46e1-aa6c-7fce37f15782",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportImage3>
    <annualReportSideImage1>
      <Value><![CDATA[[
  {
    "key": "81b076be-84cc-4e32-9307-00424b45c880",
    "mediaKey": "df315a44-2569-4e72-b70f-f78a7c7441b9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportSideImage1>
    <annualReportSideImage2>
      <Value><![CDATA[[
  {
    "key": "610735e5-7b76-4173-88d6-e56a1d9e4cdf",
    "mediaKey": "df315a44-2569-4e72-b70f-f78a7c7441b9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportSideImage2>
    <annualReportSideImage3>
      <Value><![CDATA[[
  {
    "key": "3e23ae24-78e3-4f0e-936a-bb58de9b2428",
    "mediaKey": "df315a44-2569-4e72-b70f-f78a7c7441b9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportSideImage3>
    <annualReportSideImage4>
      <Value><![CDATA[[
  {
    "key": "25ed20ab-2541-47e5-978f-ba3923da2fc6",
    "mediaKey": "df315a44-2569-4e72-b70f-f78a7c7441b9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportSideImage4>
  </Properties>
</Content>