<?xml version="1.0" encoding="utf-8"?>
<Content Key="416d3430-1064-41ec-be88-88a15ecce022" Alias="contactsPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contactsPage</ContentType>
    <CreateDate>2024-11-03T14:36:08</CreateDate>
    <NodeName Default="contactsPage" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="464ce260-2b6a-4db7-bc04-c45a4729db0b">contactsPage</Template>
  </Info>
  <Properties>
    <aText>
      <Value><![CDATA[Home]]></Value>
    </aText>
    <aText2>
      <Value><![CDATA[Contact]]></Value>
    </aText2>
    <contact01>
      <Value><![CDATA[Request a call back]]></Value>
    </contact01>
    <contact02>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contact02>
    <contact03>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </contact03>
    <contact04>
      <Value><![CDATA[Financial consulting ]]></Value>
    </contact04>
    <contact05>
      <Value><![CDATA[Submit]]></Value>
    </contact05>
    <contactsImagemap>
      <Value><![CDATA[[
  {
    "key": "805a5071-dd7a-490d-8a63-08f8bc494e71",
    "mediaKey": "0b95bf3e-b914-46ad-8912-a6972d12bde8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactsImagemap>
    <headTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </headTitle>
  </Properties>
</Content>