<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7add63e-9612-4fa6-99f5-db6a5890b159" Alias="Offecial Website - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OffecialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-29T01:29:50</CreateDate>
    <NodeName Default="Offecial Website - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="453650a2-6394-483b-ae78-970e7841ed1c">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImages>
      <Value><![CDATA[[
  {
    "key": "50a7bac4-87ee-47d6-b580-668a40841f42",
    "mediaKey": "1bfc0b6a-5d20-45d4-bdf7-de67dbe9e2ee",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImages>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "8e9cc740-839a-49b3-ae68-f0810d6865dc",
    "mediaKey": "6aa0c6d8-b918-4f7a-8a90-7cd74427ff79",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contactsPage]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <ourProjectImage1>
      <Value><![CDATA[[
  {
    "key": "52f5cfb8-2f9b-4bf8-bf39-39111b337f79",
    "mediaKey": "2942fdf2-4bc7-4ca4-92a4-362a7750c728",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectImage1>
    <ourProjectImage2>
      <Value><![CDATA[[
  {
    "key": "ad96eb96-3ce1-478d-a868-d5e0429a3c16",
    "mediaKey": "a1e93033-6dab-4f8e-a4e0-926c633f293a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectImage2>
    <ourProjectImage3>
      <Value><![CDATA[[
  {
    "key": "c4119eb6-6ca4-435b-9a05-e59d81762aa2",
    "mediaKey": "419451d1-22c2-40b1-bb5a-9815b32c6de3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectImage3>
    <ourProjectImage4>
      <Value><![CDATA[[
  {
    "key": "768222f8-0258-400d-87a4-ec2761ac354d",
    "mediaKey": "68a7821b-828e-4627-ade5-32d17b477a92",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectImage4>
    <ourProjectsHeadline>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </ourProjectsHeadline>
    <ourProjectsHeadline2>
      <Value><![CDATA[Recent projects]]></Value>
    </ourProjectsHeadline2>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <projectImagePara1>
      <Value><![CDATA[Financial Services]]></Value>
    </projectImagePara1>
    <projectImagePara2>
      <Value><![CDATA[Financial Services]]></Value>
    </projectImagePara2>
    <projectImagePara3>
      <Value><![CDATA[Financial Services]]></Value>
    </projectImagePara3>
    <projectImagePara4>
      <Value><![CDATA[Financial Services]]></Value>
    </projectImagePara4>
    <projectImageTitle1>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectImageTitle1>
    <projectImageTitle2>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </projectImageTitle2>
    <projectImageTitle3>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </projectImageTitle3>
    <projectImageTitle4>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </projectImageTitle4>
    <successStoryHeadline>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successStoryHeadline>
    <successStoryTitle>
      <Value><![CDATA[Success story]]></Value>
    </successStoryTitle>
    <succesStoryBackground>
      <Value><![CDATA[[
  {
    "key": "15e2e34c-6051-4593-8746-5487ebe33226",
    "mediaKey": "4bd93f7a-1ccd-4729-bfc4-ae66fefbede2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </succesStoryBackground>
    <trustedBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "9ed8ebeb-2469-41e4-bf11-d0504b68e770",
    "mediaKey": "c1cfbafe-5155-43d8-913a-aa930cccab05",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedBackgroundImage>
    <trustedButtonUrl>
      <Value><![CDATA[Read our story]]></Value>
    </trustedButtonUrl>
    <trustedSectionHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </trustedSectionHeadline>
    <trustedSectionHeadline2>
      <Value><![CDATA[4.000+ clients]]></Value>
    </trustedSectionHeadline2>
    <trustedText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </trustedText>
  </Properties>
</Content>