<?xml version="1.0" encoding="utf-8"?>
<Content Key="e08a54c5-dcdc-421d-a45a-eaeb81252b49" Alias="ourServices" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourServices</Path>
    <Trashed>false</Trashed>
    <ContentType>ourServices</ContentType>
    <CreateDate>2024-11-03T14:40:31</CreateDate>
    <NodeName Default="ourServices" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00c55021-2c49-4e20-91dc-4641db29d312">ourServices</Template>
  </Info>
  <Properties>
    <tItleText>
      <Value><![CDATA[Our Services]]></Value>
    </tItleText>
  </Properties>
</Content>