<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd636302-c15a-42ef-b155-a450d96d5f8f" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2024-11-07T01:32:24</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ff9723a-038c-4056-8e6b-333c6ca12017">projects</Template>
  </Info>
  <Properties>
    <helpYou>
      <Value><![CDATA[How can we help you?]]></Value>
    </helpYou>
    <helpYouText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </helpYouText>
    <projectDate>
      <Value><![CDATA[June 15, 2024]]></Value>
    </projectDate>
    <projectDate1>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDate1>
    <projectDate2>
      <Value><![CDATA[February 6, 2024]]></Value>
    </projectDate2>
    <projectDate3>
      <Value><![CDATA[January 3, 2024]]></Value>
    </projectDate3>
    <projectImage1>
      <Value><![CDATA[[
  {
    "key": "599b8976-2b59-461d-8faa-bc06d8024e58",
    "mediaKey": "a1e93033-6dab-4f8e-a4e0-926c633f293a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage1>
    <projectImage2>
      <Value><![CDATA[[
  {
    "key": "701f84c0-b1ee-4b01-8828-7dc9a08ea6d1",
    "mediaKey": "419451d1-22c2-40b1-bb5a-9815b32c6de3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage2>
    <projectImage3>
      <Value><![CDATA[[
  {
    "key": "319c8d57-69c0-48da-9c9c-45d73887d878",
    "mediaKey": "68a7821b-828e-4627-ade5-32d17b477a92",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage3>
    <projectsImage>
      <Value><![CDATA[[
  {
    "key": "49e7cd54-cb4d-40bd-9451-3894fa16ab37",
    "mediaKey": "2942fdf2-4bc7-4ca4-92a4-362a7750c728",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsImage>
    <projectText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText>
    <projectText1>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectText1>
    <projectText2>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText2>
    <projectText3>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText3>
    <projectTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectTitle>
    <projectTitle1>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </projectTitle1>
    <projectTitle2>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </projectTitle2>
    <projectTitle3>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </projectTitle3>
    <tags>
      <Value><![CDATA[Tags]]></Value>
    </tags>
  </Properties>
</Content>