<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab3c1852-31b8-480e-9d20-3c08020ac271" Alias="ServicesDetails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesDetails</ContentType>
    <CreateDate>2024-11-10T02:28:51</CreateDate>
    <NodeName Default="ServicesDetails" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95bd75f6-c48c-45e4-a187-69755671c638">servicesDetails</Template>
  </Info>
  <Properties>
    <para1>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </para1>
    <para2>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </para2>
    <riskManagementImage>
      <Value><![CDATA[[
  {
    "key": "872eef4f-e5fd-4bac-b0df-7ac2ddf00e78",
    "mediaKey": "d1f71094-01a7-4cd7-b878-5f9b48c07f5d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementImage>
    <riskManagementImage2>
      <Value><![CDATA[[
  {
    "key": "21473674-4366-4d11-9039-111c9fb611da",
    "mediaKey": "7794a68e-d47f-4f5b-9085-847385ffab0b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementImage2>
    <riskManagementImage3>
      <Value><![CDATA[[
  {
    "key": "c5816f64-f55b-40aa-aeaf-517b53cc0a3f",
    "mediaKey": "d1e4cebe-58bf-4da3-a817-69a4f3fc92f0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementImage3>
    <title>
      <Value><![CDATA[About us]]></Value>
    </title>
    <title2>
      <Value><![CDATA[How can we help you?]]></Value>
    </title2>
  </Properties>
</Content>