@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    
}

<section class="logos">
    <div class="container">
        <img src="~/media/3jqh3tca/brand1.png" alt="Logo 1">
        <img src="~/media/3ermriqk/brand2.png" alt="Logo 2">
        <img src="~/media/1jsfncsn/brand3.png" alt="Logo 3">
        <img src="~/media/a3wjr4mw/brand4.png" alt="Logo 4">
        <img src="~/media/awzpwpbo/brand5.png" alt="Logo 5">
        <img src="~/media/xp1an3g3/brand6.png" alt="Logo 6">
    </div>
</section>
