@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    
}


<section class="solutions">
    <div class="container">
        <h2><span>We Provide The Solutions</span> To Grow Your Business Faster</h2>
        <div class="grid">
            <a class="grid-container" href="/servicesdetails/">
                <div class="grid-container-header">
                    <h5>Risk Management</h5>
                </div>
                <img src="~/media/ebxnkbd4/services-5.png" alt="Service Image">
                <div class="grid-container-text">
                    <p>
                        Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    </p>
                </div>
            </a>
            <a class="grid-container" href="/servicesdetails/">
                <div class="grid-container-header">
                    <h5>Bonds & Commodities</h5>
                </div>
                <img src="~/media/yzxn24vf/services-1.png" alt="Risk management">
                <div class="grid-container-text">
                    <p>
                        Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    </p>
                </div>
            </a>
            <a class="grid-container" href="/servicesdetails/">
                <div class="grid-container-header">
                    <h5>Assurance & Audits</h5>
                </div>
                <img src="~/media/lswpxyef/services-3.png" alt="Risk management">
                <div class="grid-container-text">
                    <p>
                        Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    </p>
                </div>
            </a>
            <a class="grid-container" href="/servicesdetails/">
                <div class="grid-container-header">
                    <h5>Tax and Trusts</h5>
                </div>
                <img src="~/media/suca5ote/services-4.png" alt="Risk management">
                <div class="grid-container-text">
                    <p>
                        Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    </p>
                </div>
            </a>
            <a class="grid-container" href="/servicesdetails/">
                <div class="grid-container-header">
                    <h5>Financial Advisor</h5>
                </div>
                <img src="~/media/qrvpalip/services-6.png" alt="Risk management">
                <div class="grid-container-text">
                    <p>
                        Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    </p>
                </div>
            </a>
            <a class="grid-container" href="/servicesdetails/">
                <div class="grid-container-header">
                    <h5>Statistic Advisors</h5>
                </div>
                <img src="~/media/tjmcb5ge/services-2.png" alt="Risk management">
                <div class="grid-container-text">
                    <p>
                        Dolor in reprehendeit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>