<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa73adfb-8555-41bd-93bd-ff56e4dd25b6" Alias="annual-report-img-1.png" Level="2">
  <Info>
    <Parent Key="26ef664f-5155-4557-b37f-8cdd6768184d">Annual Report </Parent>
    <Path>/AnnualReport/annualReportImg1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T17:54:40</CreateDate>
    <NodeName Default="annual-report-img-1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ortdkhb2/annual-report-img-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>