<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3521557-e4d8-4ff1-8b58-0874b4fd6621" Alias="brand3.png" Level="2">
  <Info>
    <Parent Key="95d183c6-df16-491b-88dc-2370568095eb">Logo</Parent>
    <Path>/Logo/brand3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T00:38:29</CreateDate>
    <NodeName Default="brand3.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1dpbifnr/brand3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>