<?xml version="1.0" encoding="utf-8"?>
<Media Key="819e3110-1d7a-4847-891d-1c7e9c05fcb5" Alias="brand1.png" Level="2">
  <Info>
    <Parent Key="95d183c6-df16-491b-88dc-2370568095eb">Logo</Parent>
    <Path>/Logo/brand1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T00:38:29</CreateDate>
    <NodeName Default="brand1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t53nqnyt/brand1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>