<?xml version="1.0" encoding="utf-8"?>
<Media Key="8aad798a-2147-4a9a-aa06-1f735c7fb929" Alias="brand5.png" Level="2">
  <Info>
    <Parent Key="95d183c6-df16-491b-88dc-2370568095eb">Logo</Parent>
    <Path>/Logo/brand5png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T00:38:30</CreateDate>
    <NodeName Default="brand5.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/awzpwpbo/brand5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>