<?xml version="1.0" encoding="utf-8"?>
<Media Key="807d0e69-4ede-48ea-b2ab-b52cedf5d238" Alias="Brand.svg" Level="2">
  <Info>
    <Parent Key="95d183c6-df16-491b-88dc-2370568095eb">Logo</Parent>
    <Path>/Logo/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-10T00:32:18</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tozn4ywf/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>