<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2129b6a-9b82-42a4-b7b7-2824f651c060" Alias="Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hero</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T00:34:58</CreateDate>
    <NodeName Default="Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>