<?xml version="1.0" encoding="utf-8"?>
<Media Key="b60c7fe7-a767-4ed4-95c2-1d7c25577133" Alias="kevin-gardner.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-05T01:05:27</CreateDate>
    <NodeName Default="kevin-gardner.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nc0fuaao/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>