<?xml version="1.0" encoding="utf-8"?>
<Media Key="95d183c6-df16-491b-88dc-2370568095eb" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-10T00:30:58</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>