<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b95bf3e-b914-46ad-8912-a6972d12bde8" Alias="map-1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T02:01:04</CreateDate>
    <NodeName Default="map-1.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wf0nhpl3/map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>