<?xml version="1.0" encoding="utf-8"?>
<Media Key="2942fdf2-4bc7-4ca4-92a4-362a7750c728" Alias="pj1.png" Level="2">
  <Info>
    <Parent Key="d8c12795-cf2c-4372-9338-e6a8e90a9b06">Project</Parent>
    <Path>/Project/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-08T01:06:27</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pu1bjh3o/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>