<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1e93033-6dab-4f8e-a4e0-926c633f293a" Alias="pj2.png" Level="2">
  <Info>
    <Parent Key="d8c12795-cf2c-4372-9338-e6a8e90a9b06">Project</Parent>
    <Path>/Project/pj2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-08T01:06:27</CreateDate>
    <NodeName Default="pj2.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xt3k4f4c/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>