<?xml version="1.0" encoding="utf-8"?>
<Media Key="419451d1-22c2-40b1-bb5a-9815b32c6de3" Alias="pj3.png" Level="2">
  <Info>
    <Parent Key="d8c12795-cf2c-4372-9338-e6a8e90a9b06">Project</Parent>
    <Path>/Project/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-08T01:06:27</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l0nnf33l/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>