<?xml version="1.0" encoding="utf-8"?>
<Media Key="96d37e05-73e9-4ea8-bf58-ff9d5a51384a" Alias="pj4-large.png" Level="2">
  <Info>
    <Parent Key="26ef664f-5155-4557-b37f-8cdd6768184d">Annual Report </Parent>
    <Path>/AnnualReport/pj4Largepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T17:54:41</CreateDate>
    <NodeName Default="pj4-large.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rk0jkiea/pj4-large.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>