<?xml version="1.0" encoding="utf-8"?>
<Media Key="68a7821b-828e-4627-ade5-32d17b477a92" Alias="pj4.png" Level="2">
  <Info>
    <Parent Key="d8c12795-cf2c-4372-9338-e6a8e90a9b06">Project</Parent>
    <Path>/Project/pj4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-08T01:06:27</CreateDate>
    <NodeName Default="pj4.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sreodxxh/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>