<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8c12795-cf2c-4372-9338-e6a8e90a9b06" Alias="Project" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Project</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-08T01:03:20</CreateDate>
    <NodeName Default="Project" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>