<?xml version="1.0" encoding="utf-8"?>
<Media Key="a435d1d8-c5d8-4408-bf0c-069bbe723097" Alias="Risk Management" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-08T02:13:48</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>