<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ba6a10b-ab66-43d1-b486-04a5867bd9d9" Alias="services-6.png" Level="2">
  <Info>
    <Parent Key="41936659-73c9-475c-8241-d274ae6019f5">Services</Parent>
    <Path>/Services/services6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T01:00:31</CreateDate>
    <NodeName Default="services-6.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qrvpalip/services-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>