<?xml version="1.0" encoding="utf-8"?>
<Media Key="41936659-73c9-475c-8241-d274ae6019f5" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-10T00:59:04</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>