<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1e4cebe-58bf-4da3-a817-69a4f3fc92f0" Alias="side-content-image-2.png" Level="2">
  <Info>
    <Parent Key="a435d1d8-c5d8-4408-bf0c-069bbe723097">Risk Management</Parent>
    <Path>/RiskManagement/sideContentImage2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-08T02:17:05</CreateDate>
    <NodeName Default="side-content-image-2.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/geckez4w/side-content-image-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>