<?xml version="1.0" encoding="utf-8"?>
<Media Key="7794a68e-d47f-4f5b-9085-847385ffab0b" Alias="side-bar-image.png" Level="2">
  <Info>
    <Parent Key="a435d1d8-c5d8-4408-bf0c-069bbe723097">Risk Management</Parent>
    <Path>/RiskManagement/sideBarImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-08T02:16:03</CreateDate>
    <NodeName Default="side-bar-image.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/afwnfqiw/side-bar-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>