<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1f71094-01a7-4cd7-b878-5f9b48c07f5d" Alias="side-content-image-1.png" Level="2">
  <Info>
    <Parent Key="a435d1d8-c5d8-4408-bf0c-069bbe723097">Risk Management</Parent>
    <Path>/RiskManagement/sideContentImage1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-08T02:16:48</CreateDate>
    <NodeName Default="side-content-image-1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dpnlcz4o/side-content-image-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>