<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bfc0b6a-5d20-45d4-bdf7-de67dbe9e2ee" Alias="Signature" Level="2">
  <Info>
    <Parent Key="bad58164-f1f4-4f1d-9aa5-616cbd360d1d">Signature</Parent>
    <Path>/Signature/Signature</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T01:31:58</CreateDate>
    <NodeName Default="Signature" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tc1f34j1/signaturenet.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>