<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fbe6305-1479-4118-bd5f-2122b8087cd4" Alias="Signature.net.svg" Level="2">
  <Info>
    <Parent Key="bad58164-f1f4-4f1d-9aa5-616cbd360d1d">Signature</Parent>
    <Path>/Signature/Signaturenetsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T00:41:34</CreateDate>
    <NodeName Default="Signature.net.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/45pbzllc/signaturenet.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>