<?xml version="1.0" encoding="utf-8"?>
<Media Key="bad58164-f1f4-4f1d-9aa5-616cbd360d1d" Alias="Signature" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signature</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T00:41:30</CreateDate>
    <NodeName Default="Signature" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>