<?xml version="1.0" encoding="utf-8"?>
<Media Key="6aa0c6d8-b918-4f7a-8a90-7cd74427ff79" Alias="sl-home2.png" Level="2">
  <Info>
    <Parent Key="c2129b6a-9b82-42a4-b7b7-2824f651c060">Hero</Parent>
    <Path>/Hero/slHome2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T00:35:16</CreateDate>
    <NodeName Default="sl-home2.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k2gonxdr/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>