<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bd93f7a-1ccd-4729-bfc4-ae66fefbede2" Alias="success-image.png" Level="2">
  <Info>
    <Parent Key="601025cc-6939-425b-bf9f-72c8ab4e3093">Our story Team</Parent>
    <Path>/OurStoryTeam/successImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-09T01:51:13</CreateDate>
    <NodeName Default="success-image.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4x0j55ne/success-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>