<?xml version="1.0" encoding="utf-8"?>
<Media Key="b953396a-ddf6-4111-a5aa-6ccd8e4b59c7" Alias="team-6.png" Level="2">
  <Info>
    <Parent Key="255aea12-0958-4913-8d34-24617ff8c6e5">Team </Parent>
    <Path>/Team/team6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T00:39:19</CreateDate>
    <NodeName Default="team-6.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2xzbkd25/team-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>