<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1cfbafe-5155-43d8-913a-aa930cccab05" Alias="team.png" Level="2">
  <Info>
    <Parent Key="601025cc-6939-425b-bf9f-72c8ab4e3093">Our story Team</Parent>
    <Path>/OurStoryTeam/teampng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-09T01:02:00</CreateDate>
    <NodeName Default="team.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ofyis3z2/team.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>