<?xml version="1.0" encoding="utf-8"?>
<Media Key="108a92bc-105b-4539-8ad0-a2bc7c58546c" Alias="team-2.png" Level="2">
  <Info>
    <Parent Key="255aea12-0958-4913-8d34-24617ff8c6e5">Team </Parent>
    <Path>/Team/team2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T00:39:19</CreateDate>
    <NodeName Default="team-2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gnmmzjrs/team-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>