<?xml version="1.0" encoding="utf-8"?>
<Media Key="255aea12-0958-4913-8d34-24617ff8c6e5" Alias="Team " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T00:39:09</CreateDate>
    <NodeName Default="Team " />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>