<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b423f56-3b11-46ac-9ab8-b1c7171c48b1" Alias="team-3.png" Level="2">
  <Info>
    <Parent Key="255aea12-0958-4913-8d34-24617ff8c6e5">Team </Parent>
    <Path>/Team/team3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T00:39:19</CreateDate>
    <NodeName Default="team-3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1h0bj5ly/team-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>